<!doctype html>
<html class="no-js" {{site.language_attributes}}>
{% include 'components/_head.twig' %}

<body class="{{ body_class }}">
  <div class="pageloader is-active"></div>

  {% if not in_production %}
    <div class="current-template-file-name">
      {{ current_template_file }}
    </div>
  {% endif %}

  <header>
    <div class="container">
      {% include "components/navbar/index.twig" %}
    </div>
  </header>

  <section class="section">
    <div class="container">
      <div class="columns">

        <div class="column is-7">
          {% block content %}
            {{ messages.base.no_content }}
          {% endblock %}
        </div>

        <aside class="column is-4 is-offset-1">
          {{ main_sidebar }}
        </aside>

      </div>
    </div>
  </section>

  {{ function('wp_footer') }}</body>
</html>
