<!doctype html>
<html class="no-js" {{site.language_attributes}}>
{% include 'components/_head.twig' %}

<body class="{{ body_class }}">
  <div class="pageloader is-active"></div>

  {% if not in_production %}
    <div class="current-template-file-name">
      {{ current_template_file }}
    </div>
  {% endif %}

  {% include "components/skip-to/index.twig" %}
  {% include "components/banner/index.twig" %}

  <main id="main">
    {% block content %}
      {{ messages.base.no_content }}
    {% endblock %}
  </main>

  {{ function('wp_footer') }}</body>
</html>
